* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%;
    flex: 1 1;
    min-height: 0;
}

footer {
    flex-shrink: 1;
    height: fit-content;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-top: 1px lightgrey solid;
}
