* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body > div {
    width: 100%;
    flex: 1 1;
    min-height: 0;
    display: flex;
    flex-direction: row
}

#playarea {
    flex: 1 1;
    min-width: 0;
}

#idle {
    min-width: 20vw;
    background-color: #5500b7;
    border-left: 10px solid black;
    padding: 20px;
    flex: 0 1;
}


.info {
    font-size: 16pt;
}

footer {
    flex-shrink: 1;
    height: fit-content;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-top: 1px lightgrey solid;
}

label::after {
    content: ":";
}

label {
    width: 12em;
    display: inline-block;
}

button {
    display: block;
}
