* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body > div {
    width: 100%;
    flex: 1 1;
    min-height: 0;
    display: flex;
    flex-direction: row
}

#playarea {
    flex: 1 1;
    position: relative;
}

canvas {
    height: 100%;
    width: 100%;
    min-width: 0;
}

.topMessage, .ballMessage, button {
    user-select: none;
}

.topMessage {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    animation-name: fadeUp;
    animation-duration: 4s;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
}

.ballMessage {
    position: absolute;
    width: 20rem;
    text-align: center;
    transform: translateX(-10rem);
    animation-name: fadeUp;
    animation-duration: 4s;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
}

@keyframes fadeUp {
    from { 
        opacity: 1; 
        transform: translate(-10rem, -1em);
    }
    to {
        opacity: 0;
        transform: translate(-10rem, -80px);
    }
}

#idle {
    min-width: 20vw;
    background-color: #5500b7;
    border-left: 10px solid black;
    padding: 20px;
    flex: 0 1;
}


.info {
    font-size: 16pt;
}

footer {
    flex-shrink: 1;
    height: fit-content;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-top: 1px lightgrey solid;
}

label::after {
    content: ":";
}

label {
    width: 12em;
    display: inline-block;
}

button {
    display: block;
}

button:not(.disabled) {
    color: green;
}

.debug {
    display: none;
}
